/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


html {
    /* font-family: 'Raleway', sans-serif; */
    /* font-size: 15px;
    font-weight: 400; */

}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 30px;
    margin-bottom: 30px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    margin-bottom: 55px;
    line-height: 1.6;

}

button {
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    padding: 12px 30px;
    border: 1px solid #fff;
    cursor: pointer;

}

button:hover {
    background-color: transparent;
    color: #FFF;
}

.button-sedan {
    color: hsl(31, 77%, 52%);
}

.button-suv {
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    padding: 12px 30px;
    border: 1px solid #fff;
    cursor: pointer;
}

.button-luxury {
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    padding: 12px 30px;
    border: 1px solid #fff;
    cursor: pointer;

}

.panel {

    border-radius: 10px;
    /* padding: 15px 25px; */
    /* width: 100%; */
    max-width: 940px;
    min-height: 100vh;
    /* display: flex; */
    flex-direction: column;


    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 940px;
    margin: auto;

}

.sedan {
    background-color: hsl(31, 77%, 52%);
    padding: 57px;
    border-radius: 10px 10px 0 0px;
    height: 350px;
    /* border-radius: 10px;
    padding: 15px 25px; */
}

.suv {
    background-color: hsl(184, 100%, 22%);
    padding: 57px;
    height: 350;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 57px;
    border-radius: 0px 0px 10px 10px;
    height: 350px;
}


@media (min-width: 900px) {
    .panel {
        flex-direction: row;

    }

    .sedan {
        border-radius: 10px 0px 0px 10px;
        height: 350px;


    }

    .suv {
        height: 350px;

    }

    .luxury {
        border-radius: 0px 10px 10px 0px;
        height: 350px;

    }

    /* .p {
        margin-bottom: 50%;
    } */
}